/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background-color: var(--background-color);
  background-image: var(--url-background-image);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 120%;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border:none;
  color: var(--menu-font-color);
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button_active {
  border: var(--menu-font-color) 1px solid;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--hover-menu-link-color) 1px solid; 
}

.header__theme-menu-button:focus-visible {
  /* подчеркивание при фокусе */
  box-shadow: 0px 1px 0px 0px var(--menu-font-color);
  outline: none;
}

.header__jumbotron {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto 188px;
  grid-template-areas:
  'title title'
  '. text';
}

.header__title {
  grid-area: title;
  margin-inline-start: -20px;
  padding-block-start: 15rem;
  padding-block-end: 7%;
  color: var(--main-heading-color);
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  letter-spacing: 83%;
  text-shadow: 4px 4px 0 var(--main-heading-shadow-color);
}

.header__text {
  grid-area: text;
  height: fit-content;
}

.title-decor {
  color: var(--text-heading-color);
  font-weight: bold;
  font-size: 18px;
  background-color: var(--background-heading-color);
}

.decorated-zone {
  position: relative;
  padding: 20px;
}

.decorated-zone:before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: var(--menu-font-color) 1px solid;
  border-left: var(--menu-font-color) 1px solid;
}

.decorated-zone:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: var(--menu-font-color) 1px solid;
  border-right: var(--menu-font-color) 1px solid;
}

.header__camera-sign {
  position: absolute;
  right: 48px;
}

.header__camera-sign::before {
  content: 'REC';
  color: var(--menu-font-color);
}

.header__camera-sign::after {
  content: '';
  position:absolute;
  top: 7px;
  right: -18px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--menu-font-color);
  background: var(--menu-font-color);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 60px 20px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.content__title {
  color: var(--menu-font-color);
  font-size: 18px;
}

.content__section-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content__section-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.text-regular {
  font-weight: normal;
}

.content__text {
  line-height: 130%;
}

.content__link {
  display: inline-block;
  border-block-end: var(--font-color) 1px solid;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--background-heading-color);
}

.content__link:focus {
  outline: var(--font-color) 1px solid;
  outline-offset: -1px;
}

.display-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title-over-columns {
  display: block;
  width: 33%;
}

.main__gallery {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__pictures>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal-span {
  grid-column: span 2 / auto;
}

.vertical-span {
  grid-row: span 2 / auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 768px;
}

.footer__text {
  color: var(--main-heading-color);
  font-weight: bold;
  font-size: 157px;
  text-shadow: 2px 2px 0 var(--main-heading-shadow-color);
}