/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center 0;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header__theme-menu-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  appearance: none;
  width: 70px;
  height: 26px;
  text-transform: lowercase;
  background-color: transparent;
  border:none;
  color: var(--primary-accent-color);
}

.header__theme-menu-button_active {
  border: var(--primary-accent-color) 1px solid;
}

.header__theme-menu-button:hover {
  /* TODO: сделать прозрачность 40% */
  border: var(--primary-accent-color) 1px solid; 
}

.header__theme-menu-button:focus-visible {
  outline: none;
  /* подчеркивание при фокусе */
  box-shadow: 0px 1px 0px 0px var(--primary-accent-color);
}

.header__jumbotron {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto 188px;
  grid-template-areas:
  'title title'
  '. text';
}

.header__title {
  color: var(--secondary-accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--primary-accent-color);
  letter-spacing: 83%;
  font-weight: bold;
  padding-block-start: 15rem;
  padding-block-end: 7%;
  margin-inline-start: -20px;
  grid-area: title;
}

.header__text {
  grid-area: text;
  height: fit-content;
}

.title-decor {
  color: var(--background-color);
  font-weight: bold;
  background-color: var(--primary-accent-color);
  font-size: 18px;
}

.decorated-zone {
  position: relative;
}
.decorated-zone:before {
  content: '';
  border-bottom: var(--primary-accent-color) 1px solid;
  border-left: var(--primary-accent-color) 1px solid;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.decorated-zone:after {
  content: '';
  border-top: var(--primary-accent-color) 1px solid;
  border-right: var(--primary-accent-color) 1px solid;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header__camera-sign {
  position: absolute;
  right: 48px;
}

.header__camera-sign::before {
  content: 'REC';
  color: var(--primary-accent-color);
}

.header__camera-sign::after {
  background: var(--primary-accent-color);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  content: '';
  display: block;
  position:absolute;
  top: 7px;
  right: -18px;
  box-shadow: 0 0 4px 2px var(--primary-accent-color);
}

.main {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
}

.content__title {
  color: var(--primary-accent-color);
  font-size: 18px;
}

.content__section-column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.content__section-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.content__article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.text-regular {
  font-weight: normal;
}

.content__text {
  line-height: 130%;
}

.display-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title-over-columns {
  display: block;
  width: 33%;
}

.main__gallery {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.gallery__pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__pictures>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal-span {
  grid-column: span 2 / auto;
}

.vertical-span {
  grid-row: span 2 / auto;
}